/* GENERAL STYLES */
body{
    font-family: 'Inika', Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
}
a {
    text-decoration: none;
}
.container {
    margin: auto;
    display: inline;
}

/* HEADER */
.header {
    padding: 30px 50px;
    background-color: black;
    max-height: 130px;
}
.header h1 {
    color: white;
    text-align: left;
    font-size: 35px;
}
.header a {
    color: white;
}

/* PAGE NAVIGATION*/
.page-navigation {
    padding: 30px 50px;
    background-color: black;
    max-height: 400px;
}

/* MAIN SECTION*/
.main {
    background-color: black;
}
#main1, #main2 {
    padding: 50px 50px;
}

/* FOOTER*/
.footer {
    padding: 30px 50px;
}
.footer h1 {
    font-size: 25px;
}
#footer-left {
    text-align: left;
}
#footer-right {
    text-align: right;
}
#footer-center {
    text-align: center;
    padding: 50px 50px;
}
#footer-bottom {
    text-align: center;
}