/* GENERAL STYLES */
body{
    font-family: 'Inika', Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
}

/* HEADER */
.header {
    padding: 30px 50px;
    background-color: rgb(0, 0, 0);
    max-height: 130px;
}
.header h1 {
    color: white;
    text-align: left;
    font-size: 35px;
}
.header a {
    color: white;
    text-decoration: none;
}
.logo {
    position: absolute;
    top: 1%;
    left: 20%;
}
.search-icon {
    position: absolute;
    top: 5.5%;
    left: 29%;
    z-index: 10;
}
.search-box {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    height: 40pxrgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
}
.search-box > .search-txt {
    width: 540px;
    padding: 0 50px;
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    transition: 1s;
    line-height: 40px;
    width: 0px;
}
.icon {
    position: absolute;
    top: 5%;
    left: 90%;
}

/* NAVIGATION */
.page-navigation {
    background-color: rgb(255, 255, 255);
    padding: 50px 0;
    margin: 20px 20px 20px 20px;
    width: 300px;
    height: 1000px;
    border-radius: 10px;
    float: left;
}

/* MAIN SECTION */
.main {
    background-color: rgb(0, 0, 0);
    height: 1200px
}
.main img {
    position: inline;
    margin: 10px 10px 10px 10px;
    padding: 10px 0 0 10px;
}
.main h1 {
    position: absolute;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    border: none;
    z-index: 10;
    font-size: 20px;
}
.clths1 {
    text-align: center;
    padding: 10px 45px 10px 45px;
    top: 425px;
    left: 355px;
}
.clths2 {
    text-align: center;
    padding: 10px 40px 10px 40px;
    top: 425px;
    left: 644px;
}
.clths3 {
    text-align: center;
    padding: 10px 40px 10px 40px;
    top: 425px;
    left: 928px;
}
.clths4 {
    text-align: center;
    padding: 10px 35px 10px 35px;
    top: 425px;
    left: 1210px;
}
.clths5 {
    text-align: center;
    padding: 10px 47px 30px 47px;
    top: 790px;
    left: 357px;
}
.clths6 {
    text-align: center;
    padding: 10px 35px 10px 35px;
    top: 790px;
    left: 640px;
}
.clths7 {
    text-align: center;
    padding: 10px 30px 10px 30px;
    top: 790px;
    left: 925px;
}
.clths8 {
    text-align: center;
    padding: 10px 30px 10px 30px;
    top: 790px;
    left: 1210px;
}
.clths9 {
    text-align: center;
    padding: 10px 35px 10px 35px;
    top: 1158px;
    left: 355px;
}
.clths10 {
    text-align: center;
    padding: 10px 45px 10px 45px;
    top: 1158px;
    left: 640px;
}
.clths11 {
    text-align: center;
    padding: 10px 25px 10px 25px;
    top: 1158px;
    left: 925px;
}
.clths12 {
    text-align: center;
    padding: 10px 25px 10px 25px;
    top: 1158px;
    left: 1210px;
}

/* FOOTER*/
.footer {
    padding: 30px 50px;
}
.footer h1 {
    font-size: 25px;
}
#footer-left {
    position: absolute;
    text-align: left;
}
#footer-right {
    text-align: right;
}
#footer-center {
    text-align: center;
    padding: 50px 50px;
}
#footer-center img {
    padding: 10px 10px 10px 10px;
}
#footer-bottom {
    text-align: center;
}